.clients-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.carousel-indicators [data-bs-target] {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 12px !important;
	height: 12px !important;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: none !important;
	background-clip: padding-box;
	/* border: 0; */
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: .5;
	transition: opacity .6s ease;
	border-radius: 50% !important;
	border: 2px solid black !important;
	margin-bottom: 10px !important;
	position: relative !important;
	bottom: 110px !important;
	left: 955px !important;
}
.carousel-indicators {
	display: flex !important;
	flex-direction: column !important;
}
.carousel-indicators .active {
	opacity: 1;
	background: red !important;
}
.carousel-control-next-icon {
	display: none !important;
}
.carousel-control-prev-icon {
	display: none !important;
}
